<div *ngIf="this.vm$ | async as vm">
  <mat-card>
    <mat-card-title>From {{vm.flight?.departureAirportCode }} to {{vm.flight?.arrivalAirportCode}}</mat-card-title>
    <mat-card-content>
      <table>
        <tr>
          <td><strong>Id :</strong> {{vm.flight?.id}}
          </td>
          <td><strong>Flight number : </strong>{{vm.flight?.flightNumber }}</td>
        </tr>
        <tr>
          <td><strong>Departure airport code :</strong> {{vm.flight?.departureAirportCode }}
            ({{vm.departureAirport?.name}})</td>
          <td><strong>Arrival airport code : </strong>{{vm.flight?.arrivalAirportCode}}({{vm.arrivalAirport?.name}})</td>
        </tr>
        <tr>
          <td><strong>Date and time of departure :</strong>
            {{vm.flight?.dateAndTimeOfDeparture | date:'full':undefined:'fr'}}
          </td>
          <td><strong>Date and time of arrival : </strong>{{vm.flight?.dateAndTimeOfArrival | date:'full':undefined:'fr'}}
          </td>
        </tr>
        <tr>
          <td><strong>Delay : </strong>{{vm.flight?.delay}}</td>
          <td><strong>Price : </strong>{{vm.flight?.price | currency: 'EUR': undefined:undefined: 'fr' }}</td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="this.onEditFlight(vm.flight)">Edit</button>
    </mat-card-actions>
  </mat-card>
</div>
