<mat-card>
  <mat-card-title>From {{flight?.departureAirportCode }} to {{flight?.arrivalAirportCode}}</mat-card-title>
  <mat-card-content>
    <table>
      <tr>
        <td><strong>Id :</strong> {{flight?.id}}
        </td>
        <td><strong>Flight number : </strong>{{flight?.flightNumber }}</td>
      </tr>
      <tr>
        <td><strong>Departure airport code :</strong> {{flight?.departureAirportCode }} ({{this.departureAirport?.name}})</td>
        <td><strong>Arrival airport code : </strong>{{flight?.arrivalAirportCode}}({{this.arrivalAirport?.name}})</td>
      </tr>
      <tr>
        <td><strong>Date and time of departure :</strong>
          {{flight?.dateAndTimeOfDeparture | date:'full':undefined:'fr'}}
        </td>
        <td><strong>Date and time of arrival : </strong>{{flight?.dateAndTimeOfArrival | date:'full':undefined:'fr'}}
        </td>
      </tr>
      <tr>
        <td><strong>Delay : </strong>{{flight?.delay}}</td>
        <td><strong>Price : </strong>{{flight?.price | currency: 'EUR': undefined:undefined: 'fr' }}</td>
      </tr>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [routerLink]="['/edit', flight?.id]">Edit</button>
  </mat-card-actions>
</mat-card>
