/* You can add global styles to this file, and also import other style files */
.field{
  display: inline-block;
  width: 200px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
