<section id="menu">
  <div class="hover-menu">
    <a mat-button routerLink="admin/flights" routerLinkActive="active">
      <mat-icon>list</mat-icon>
      <span>Admin Flights</span>
    </a>
    <a mat-button routerLink="public/flights" routerLinkActive="active">
      <mat-icon>list</mat-icon>
      <span>Public Flights</span>
    </a>
    <a mat-button routerLink="admin/cesium" routerLinkActive="active">
      <mat-icon>list</mat-icon>
      <span>Cesium Globe</span>
    </a>
    <a mat-button routerLink="admin/add" routerLinkActive="active">
      <mat-icon>add</mat-icon>
      <span>Add</span>
    </a>
  </div>
</section>
