<div *ngIf="(this.vm$ | async) as vm">
  <div class="flight-list-header">
    <div class="field">Id</div>
    <div class="field">Flight number</div>
    <div class="field">Departure airport code</div>
    <div class="field">Arrival airport code</div>
    <button mat-raised-button color="accent" class="button" type="submit" (click)="refresh()"><mat-icon>refresh</mat-icon></button>
  </div>
  <div class="flight-list">
    <div *ngFor="let flight of vm.flights" class="flight-container">
      <app-flight-item [ngClass]="{'flight-with-delay' : flight.delay}" [flight]="flight" (selected)="this.onSelectedFlight($event)" (delete)="this.onDeleteFlight($event)"></app-flight-item>
    </div>
  </div>
</div>
