<div class="flight-list-header">
  <div class="field">Id</div>
  <div class="field">Flight number</div>
  <div class="field">Departure airport code</div>
  <div class="field">Arrival airport code</div>
</div>
<div class="flight-list">
  <div *ngFor="let flight of this.flights$ | async" class="flight-container" [ngClass]="{'flight-with-delay' : flight.delay}">
    <app-flight-item [flight]="flight" (selected)="this.onSelectedFlight($event)" (delete)="this.onDeleteFlight($event)"></app-flight-item>
  </div>
</div>
